<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="jdbc:mysql://localhost:3306/demo"/>
    <property name="com.mysql.jdbc.Driver"/>
    <!-- 指定连接数据库的用户名 -->
    <property name="connection.username">root</property>
    <!-- 指定连接数据库的密码 -->
    <property name="connection.password">password</property>

    <!-- DB schema will be updated if needed -->
    <property name="hbm2ddl.auto">update</property>
    <property name="connection.url">jdbc:mysql://localhost:3306/demo</property>
    <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
    <mapping class="com.prohua.demo.Entity.GoodsEntity"/>
  </session-factory>
</hibernate-configuration>